QBITTORRENT_URL=http://127.0.0.1:8080
QBITTORRENT_USERNAME=replace-me
QBITTORRENT_PASSWORD=replace-me
APP_DIR=/absolute/path/to/torrent-manager
TORRENT_MANAGER_DRY_RUN=true
TORRENT_MANAGER_RETRY_COOLDOWN=20m
TRAFFIC_STATS_POLL_INTERVAL=1m
TZ=UTC
